.bc_1{
	background-color: #e1c8c1;
}
.bc_2{
	background-color: #CCCCFF;
}
.bc_3{
	background-color: #CCFFCC;
}
.bc_4{
	background-color: #CCFFFF;
}
.bc_5{
	background-color: #a5d2da;
}
.bc_6{
	background-color: #ffffff;
}
