html,body{
	width: 100%;
	background-color: #eff3f5;
}
/*导航栏动画-start*/

nav ul li a{
	color: #848a90;
}
.navbar-brand{
	margin-right: 0;
	width: 80px;
	text-align: center;
}

.nav-link{
	width: 60px;
	text-align: center;
}



/*导航栏动画-end*/

/*背景-start*/
.bg1{
	height: 600px;
	width: 100%	;
	background: url(../img/QQ图片20190907225157.jpg) no-repeat center;
	background-size:auto;
}
.test{
	display: block;
	width: 100px;
	height: 100px;
	background-color: #0062CC;
}
/*背景-end*/

/*中间部分-start*/

/*中间部分-end*/


/*中2-start*/
.zhong2{
	width: 100%;
	background-color: #ffffff;
}
/*中2-end*/

/*最底-start*/
.bt{
	
	width: 100%;
	background-color: #000000;
}
/*最底-end*/

/*totop-start*/
.top{
	position: fixed;
	width: 50px;
	height: 50px;
	bottom: 50px;
	right: 10px;
}
/*totop-end*/

/*文章-start*/
.bk{
	position: relative;
	height: 5px;
	width: 100%;
	background-color: #eff3f5;
	top: 1;
}
.bk div{
	height: 5px;
	width: 0px;
	background-color: #58bcb3;
	transition: width 2s ease-in-out;
	-moz-transition: width 2s ease-in-out; /* Firefox 4 */
	-webkit-transition: width 2s ease-in-out; /* Safari 和 Chrome */
	-o-transition: width 2s ease-in-out; /* Opera */
}
@media (min-width: 700px){
	.mid{
		width: 90%;
		background-color: #ffffff;
		margin: auto;
	}
	.mid-left{
		float: left;
		display: inline-block;
		width: 30%;
		height: auto;
		top:0;
		padding-top: 20px;
		padding-left: 15px;
	}
	.mid-right{
		position: relative;
		display: inline-block;
		width: 69%;
		height: auto;
	}
	#dts{
		width: 80%;
		margin: auto;
		padding: 2%;
		letter-spacing:1px;
		background-color: #FFFFFF;
		overflow: hidden;
	}
}

@media (max-width: 700px){
	.mid{
		width: 97%;
		background-color: #ffffff;
		margin: auto;
	}
	.mid-left{
		display: none;
	}
	.mid-right{
		position: relative;
		display: inline-block;
		width: 100%;
		height: auto;
	}
	#dts{
		width: 99%;
		margin: auto;
		padding: 2%;
		letter-spacing:1px;
		background-color: #FFFFFF;
		overflow: hidden;
	}
}
.article-details #title{
	min-height: 60px;
	*+height:100%;
	_height:60px;
}
.article-details #content p{
	font-size: 16px;
	color: #292424;
}
article{
	width: 100%;
	height: auto;
	padding: 5%;
	letter-spacing:1px;
}
.un,.un:link,.un:visited,.un:hover,.un:active{
    text-decoration: none;
    color:inherit;
}
.article:hover .bk div{
	width: 100%;
	
}
.article:hover a{
	color: #333333;
}
/* mid-left- */
.blog-classify-name{
	display: inline-block;
	width: 100%;
	height: auto;
	margin: 8%;
}
.blog-classify-name .Categories{
	width: 100%;
	height: auto;
	display: inline-block;
	
}
.Categories span{
	font-size: 20px;
	font-family: "Times New Roman", Times, serif;
}
.blog-classify-body{
	text-align: center;
	width: 40px;
	height: auto;
}


#title{
	min-height: 45px;
	*+height:100%;
	_height:45px;
	width: 100%;
}
#content{
	padding-top: 20px;
	height: auto;
	width: 100%;
}
#content p{
	color: #7d7979;
	
	font-family: serif;
	font-size: 14px;
}
#more{
	padding-bottom: 10px;
	display: none;
}
#data{
	height: 15px;
	width: 100%;
	font-size: 12px;
	
	color: #555555;
}
#data span{
	font-size: 12px;
}

.nextpage{
	margin-top: 30px;
	text-align: center;
	width: 100%;
}

/*文章-end*/

/*分类*/

.btn-none:focus,
.btn-none:active:focus,
.btn-none.active:focus,
.btn-none.focus,
.btn-none:active.focus,
.btn-none.active.focus {
    outline: none;
    border-color: transparent;
    box-shadow:none;
}

.categories-set{
	display: inline-block;
	width: 200px;
	text-align: center;
	
}
.categories-set-box{
	margin-left: 5px;
	height: auto;
	width: 100%;
}
.categories-set-left{
	display: inline-block;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background-color: #D3D9DF;
	transition: background-color 1s;
}
.categories-set-box:hover .categories-set-left{
	background-color: #575959;
}
.categories-set-mid{
	display: inline-block;
	height: 30px;
	width: 90px;
	text-align: left;
	margin-left: 3%;
}
.categories-set-left span{
	color: #f78769;
}
.categories-set-mid span{
	line-height: 30px;
	color: #f78769;
}
.categories-set-right{
	display: inline-block;
	width: 60px;
	text-align: left;
}
.categories-set-right span{
	color: #f78769;
}
.tags-set{
	display: inline-block;
	width: 200px;
	height: 100%;
	margin: 15px;
}
.tag-set{
	display: inline-block;
	float: left;
	margin: 2px;
	width: auto;
	height: 25px;
	background-color: rgba(130,130,130,1);
	padding-left: 9px;
	padding-right: 9px;
	opacity: 0.7;
	transition: background-color 0.5s;
}
.tag-set:hover{
	background-color: rgba(0, 0, 0, 178);
}

.tag-set span{
	color: #e3e3e3;
}
.tx{
	display: inline-block;
	width: 210px;
	height: auto;
	margin: 8px;
	
}
.tx span{
	display: inline-block;
}

.form-group textarea{
	
	width: 455px;
}

