html,body{
	width: 100%;
	background-color: #eff3f5;
}
/*导航栏动画-start*/

nav ul li a{
	color: #848a90;
}
.navbar-brand{
	margin-right: 0;
	width: 80px;
	text-align: center;
}

.nav-link{
	width: 60px;
	text-align: center;
}


.mynav{
	animation:nn 1s;
	animation-fill-mode:forwards;
}
.mynav2{
	animation:nn2 1s;
	animation-fill-mode:forwards;
}
@keyframes nn
{
	from {height: 60px;}
	to {height: 40px;}
}
@keyframes nn2
{
	from {height: 40px;}
	to {height: 60px;}
}
.nv{
	width: 100%;
}
.nv.nv1{
	display: inline-block;
	width: 20%;
}
.nv.nv2{
	display: inline-block;
	width: 80%;
}
.nv.nv3{
	display: inline-block;
	background-color: #000000;
	width: 20%;
	height: 30px;
}


/*导航栏动画-end*/

/*背景-start*/
.bg1{
	height: 600px;
	width: 100%	;
	background: url(../img/QQ图片20190907225157.jpg) no-repeat center;
	background-size:auto;
}
.test{
	display: block;
	width: 100px;
	height: 100px;
	background-color: #0062CC;
}
/*背景-end*/

/*中间部分-start*/

/*中间部分-end*/


/*中2-start*/
.zhong2{
	width: 100%;
	background-color: #ffffff;
}
/*中2-end*/

/*最底-start*/
.bt{
	
	width: 100%;
	background-color: #000000;
}
/*最底-end*/

/*totop-start*/
.top{
	position: fixed;
	width: 50px;
	height: 50px;
	bottom: 50px;
	right: 10px;
}
/*totop-end*/

/*文章-start*/
.bk{
	position: relative;
	height: 5px;
	width: 100%;
	background-color: #eff3f5;
	top: 1;
}
.bk div{
	height: 5px;
	width: 0px;
	background-color: #58bcb3;
	transition: width 2s ease-in-out;
	-moz-transition: width 2s ease-in-out; /* Firefox 4 */
	-webkit-transition: width 2s ease-in-out; /* Safari 和 Chrome */
	-o-transition: width 2s ease-in-out; /* Opera */
}
@media (min-width: 700px){
	.mid{
		width: 80%;
		background-color: #ffffff;
		margin: auto;
	}
	.mid-left{
		float: left;
		display: inline-block;
		width: 30%;
		height: auto;
		top:0;
		padding-top: 20px;
		padding-left: 15px;
	}
	.mid-right{
		position: relative;
		display: inline-block;
		width: 69%;
		height: auto;
	}
	#dts{
		width: 80%;
		margin: auto;
		padding: 2%;
		letter-spacing:1px;
		background-color: #FFFFFF;
	}
}

@media (max-width: 700px){
	.mid{
		width: 99%;
		background-color: #ffffff;
		margin: auto;
	}
	.mid-left{
		display: none;
	}
	.mid-right{
		position: relative;
		display: inline-block;
		width: 100%;
		height: auto;
	}
	#dts{
		width: 99%;
		margin: auto;
		padding: 2%;
		letter-spacing:1px;
		background-color: #FFFFFF;
	}
}
.article-details #title{
	height: 60px;
}
.article-details #content p{
	font-size: 16px;
	color: #292424;
}
article{
	width: 100%;
	height: auto;
	padding: 2%;
	letter-spacing:1px;
}
.un,.un:link,.un:visited,.un:hover,.un:active{
    text-decoration: none;
    color:inherit;
}
.article:hover .bk div{
	width: 100%;
	
}
.article:hover a{
	color: #333333;
}
/* mid-left- */
.blog-classify-name{
	height: auto;

}
.blog-classify-body{
	width: 40px;
	height: 200px;
	
}


#title{
	height: 40px;
	width: 100%;
}
#content{
	padding-top: 20px;
	height: auto;
	width: 100%;
}
#content p{
	color: #7d7979;
	
	font-family: serif;
	font-size: 14px;
}
#more{
	padding-bottom: 10px;
	display: none;
}
#data{
	height: 15px;
	width: 100%;
	font-size: 12px;
	
	color: #555555;
}
#data span{
	font-size: 12px;
}

.nextpage{
	margin-top: 30px;
	text-align: center;
	width: 100%;
}

/*文章-end*/



