/*中1-start*/
.zhong1{
	height: 500px;
	width: 100%;
	background-image: url(../img/bg1.jpg)  ;
	background-position: center;
	background-repeat:no-repeat;
	background-size:60%;
}
/*中1-end*/
.tags{
	position: absolute;
	height: 70px;
	width: auto;
	bottom: 70px;
}
